{% extends 'base.html' %}

{% block content %}
  <!-- Header -->
  <header>
    <div class="container" id="maincontent" tabindex="-1">
      
      <div class="row">
        
          <div class="col-lg-6 col-lg-offset-3">
           
            
        </div>
        <img class="img-responsive img-circle user_profile" src="{{ user_image }}" id="user_image">
            <div className="search-box">
              <form action="/result/" method="post" class="search-txt" >
              <label>Your sentence </label> : 
              <input class="search" type="search" name="sentences" />
              <input  class="submit" type="submit" value="Send" />
  
          </form>
      </div>
      <div class="col-sm-3">
        <h2 id="user_name">{{ user_name }}</h2>
      </div>
            
          </div>
         
       
      </div>
      <div class="row">
        <div class="intro-text">
          <h1 class="name">Ready to see the toxicity of your words?</h1>
          <hr class="star-light">
        </div>
      </div>
    </div>
  </header>


{% endblock %}
